@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root {
    --black: #222222;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--black);
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}

a,
a:visited,
a:active {
    color: var(--black);
    text-decoration: none;
}

body {
    width: 100%;
    overflow-y: scroll;
}

.wrapper {
    width: calc(100% - 160px);
    max-width: 1600px;
}

@media only screen and (max-width: 1128px) {
    .wrapper {
        width: calc(100% - 80px);
    }
}

@media only screen and (max-width: 744px) {
    .wrapper {
        width: calc(100% - 40px);
    }
}


/************************************************************
site-top
************************************************************/
#site-top {
    width: 100%;
}

/**********
attention
**************************************************/
.attention {
    width: 100%;
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.attention a {
    color: #DDDDDD;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    line-height: 20px;
}

.attention a:hover {
    color: #ddddddcc;
}

@media only screen and (max-width: 744px) {
    .attention::after {
        content: "";
        width: 100%;
        height: 30px;
        background-color: black;
        position: absolute;
        bottom: -30px;
        left: 0;
        z-index: -2;
    }
}

/**********
header
**************************************************/
.header {
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
}

.header.scroll {
    position: fixed;
    top: 0;
}

.header.scroll::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    z-index: -1;
    transition: all 0.2s;
}

.header.click::after {
    height: 180px;
}

@media only screen and (max-width: 950px) {
    .header.click::after {
        height: 240px;
    }
}

/*
header-left
****************************************/
.header-left {
    width: 300px;
    margin-left: 80px;
}

.logo a svg {
    fill: var(--white);
}

.header.scroll .logo a svg {
    fill: #FF385C;
}

.logo_2 {
    display: none;
}

@media only screen and (max-width: 1128px) {
    .header-left {
        margin-left: 40px;
    }

    .logo_1 {
        display: none;
    }

    .logo_2 {
        display: block;
    }
}

@media only screen and (max-width: 744px) {
    .logo_2 {
        display: none;
    }
}

/*
header-center
****************************************/
.header-center {
    height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 950px) {
    .header-center {
        top: 60px;
    }
}

/******************************/
.select {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header.scroll .select {
    display: none;
}

.header.click .select {
    display: flex;
}

.select label {
    cursor: pointer;
    position: relative;
}

.select label::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s;
}

.header.click .select label::after {
    background-color: var(--black);
}

.select label:hover::after {
    width: 5px;
}

.select label.active::after,
.select label:active::after {
    width: 20px;
}

.select input[type="radio"] {
    display: none;
}

.select a#select_3 {
    position: relative;
}

.select a#select_3::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s;
}

.header.click .select a#select_3::after {
    background-color: var(--black);
}

.select a#select_3:hover::after {
    width: 5px;
}

.select p {
    padding: 10px 16px;
    color: var(--white);
}

.header.click .select p {
    color: var(--black);
}

@media only screen and (max-width: 744px) {
    .select {
        display: none;
    }
}

/******************************/
.detail {
    width: 850px;
    height: 66px;
    border-radius: 33px;
    display: flex;
    background-color: var(--white);
    position: absolute;
    top: 80px;
    left: calc((100% - 850px) / 2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    transition: all 0.2s;
}

.header.scroll .detail {
    width: 300px;
    height: 48px;
    top: 16px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    left: calc((100% - 300px) / 2);
    box-shadow: none;
    cursor: pointer;
}

.header.click .detail {
    width: 850px;
    height: 66px;
    top: 80px;
    left: calc((100% - 850px) / 2);
}

.header.scroll .detail::after {
    content: "検索をはじめる";
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 17px;
    left: 24px;
}

.header.click .detail::after {
    content: none;
}

.header.scroll .detail:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.header.click .detail:hover {
    box-shadow: none;
}

.detail button {
    height: 66px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header.scroll .detail button {
    visibility: hidden;
}

.header.click .detail button {
    visibility: visible;
}

.detail button:focus {
    outline: none;
}

.detail button:hover {
    background-color: #ddddddcc;
    border-radius: 33px;
}

.detail button:hover label {
    border-right: none;
}

.detail label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    border-right: 1px solid #ddddddcc;
    cursor: pointer;
}

.detail button p {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
}

.detail button input[type="text"] {
    font-size: 14px;
    background-color: transparent;
    border: none;
}

.detail button input[type="text"]:focus {
    outline: none;
}

.location {
    width: 270px;
    border-top-left-radius: 33px;
    border-bottom-left-radius: 33px;
}

.location label {
    padding-left: 35px;
}

.location input[type="text"] {
    width: calc(100% - 55px);
}

.checkin,
.checkout {
    width: 180px;
}

.checkin input[type="text"],
.checkout input[type="text"] {
    width: calc(100% - 40px);
    cursor: pointer;
}

.person {
    width: 220px;
}

.date {
    display: none;
    width: 440px;
}

.person label,
.date label {
    border-right: none;
}

.person input[type="text"],
.date input[type="text"] {
    width: calc(100% - 90px);
    cursor: pointer;
}

.search {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF385C;
}

.header.scroll .search {
    width: 32px;
    height: 32px;
}

.header.click .search {
    width: 50px;
    height: 50px;
}

.search svg {
    stroke: var(--white);
}

.header.scroll .search svg {
    transform: scale(0.8);
}

.header.click .search svg {
    transform: scale(1);
}

@media only screen and (max-width: 950px) {
    .detail {
        width: calc(100% - 80px);
        max-width: 850px;
        left: 50%;
        transform: translateX(-50%);
    }

    .header.scroll .detail {
        width: 300px;
        height: 48px;
        top: calc(16px - 60px);
        border: 1px solid rgba(0, 0, 0, 0.18);
        left: calc((100% - 300px) / 2 - 80px);
        box-shadow: none;
        cursor: pointer;
    }

    .header.click .detail {
        width: calc(100% - 80px);
        height: 66px;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }

    .detail button {
        width: 25%;
    }

    .detail button input[type="text"] {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 744px) {
    .detail {
        width: calc(100% - 40px);
        height: 48px;
        top: calc(16px - 60px);
    }

    .header.scroll .detail {
        width: calc(100% - 40px);
        height: 48px;
        top: calc(16px - 60px);
        left: 50%;
        transform: translateX(-50%);
        background-color: #dddddd99;
        border: none;
        cursor: pointer;
    }

    .header.scroll .detail::after {
        content: "行き先はどちらですか？";
        left: calc(50% + 8px);
        top: 18px;
        transform: translateX(-50%);
    }

    .detail::after {
        content: "行き先はどちらですか？";
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        top: 18px;
        left: calc(50% + 8px);
        transform: translateX(-50%);
    }

    .detail button {
        visibility: hidden;
    }

    .search {
        width: 32px;
        height: 32px;
        left: calc(50% - 100px);
        background-color: transparent;
    }

    .search svg {
        stroke: #FF385C;
    }

    .header.scroll .search svg {
        transform: scale(1);
    }
}

/*
header-right
****************************************/
.header-right {
    width: 300px;
    height: 100%;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#host {
    display: block;
    border-radius: 21px;
}

#host a {
    display: block;
}

#host a p {
    font-size: 14px;
    color: var(--white);
    font-weight: bold;
    padding: 13px;
}

.header.scroll #host a p {
    color: var(--black);
}

#host:hover {
    background-color: #dddddd33;
}

/******************************/
.global {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    margin-right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.global svg {
    fill: var(--white);
}

.header.scroll .global svg {
    fill: var(--black);
}

.global:hover {
    background-color: #dddddd33;
}

/******************************/
.user {
    position: relative;
}

#btn {
    width: 77px;
    height: 42px;
    border-radius: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

.header.scroll #btn {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.header.scroll #btn:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.btn-bar {
    margin-right: 12px;
    padding-left: 8px;
}

.btn-icon svg {
    fill: #717171;
}

.menu {
    display: none;
    width: 240px;
    height: 240px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    background-color: var(--white);
    position: absolute;
    top: 50px;
    right: 0;
    overflow: hidden;
}

.menu ul {
    padding: 10px 0;
    border-bottom: 1px solid #dddddd66;
}

.menu ul li a {
    display: block;
}

.menu ul li a:hover {
    background-color: #dddddd66;
}

.menu ul li a p {
    padding: 12px 15px;
}

p#bold {
    font-weight: bold;
}

.menu.click {
    display: block;
}

@media only screen and (max-width: 1128px) {
    .header-right {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 744px) {
    .header-right {
        display: none;
    }
}

/*
sp-menu
****************************************/
.sp-menu {
    height: 65px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-top: 1px solid #ddddddcc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.sp-btn {
    width: 75px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sp-btn p {
    font-size: 12px;
    font-weight: 600;
}

.sp-btn:nth-child(2) p,
.sp-btn:nth-child(3) p {
    color: #717171;
}

@media only screen and (max-width: 744px) {
    .sp-menu {
        display: flex;
    }
}

/************************************************************
site-content
************************************************************/
#site-content {
    margin-top: -80px;
}

.content {
    width: 100%;
    display: flex;
}

/**********
main-visual
**************************************************/
.main-visual {
    width: 100%;
    height: min(85vh, 50vw);
    box-shadow: 0 90px 60px -30px #00000066 inset;
    background-image: url(../images/main_visual_pc.jpg);
    background-size: cover;
    background-position: center center;
}

.main-visual div {
    height: 100%;
    padding-left: 80px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-visual div h2 {
    font-size: 52px;
    line-height: 55px;
    font-weight: bold;
    width: 416px;
    color: var(--white);
}

a#find {
    display: block;
    margin-top: 30px;
    border-radius: 5px;
}

a#find span {
    font-size: 14px;
    font-weight: bold;
    padding: 7px 15px;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

@media only screen and (max-width: 1128px) {
    .main-visual div {
        padding-left: 40px;
    }
}

@media only screen and (max-width: 950px) {
    .main-visual {
        height: min(85vh, 80vw);
    }
}

@media only screen and (max-width: 744px) {
    .main-visual {
        height: max(85vh, 80vw);
        background-image: url(../images/main_visual_sp.jpg);
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }

    .main-visual div {
        height: auto;
        padding-left: 40px;
        padding-top: 100px;
    }

    .main-visual div h2 {
        font-size: 32px;
        width: 300px;
    }
}

/**********
cities
**************************************************/
.cities {
    margin: 66px auto;
}

.cities .content {
    flex-direction: column;
}

.line {
    display: flex;
    justify-content: space-between;
}

.line:nth-child(1) {
    margin-bottom: 16px;
}

.city {
    width: calc((100% - 16px * 3) / 4);
    height: 64px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.city-image img {
    width: 64px;
    height: 64px;
    border-radius: 7px;
}

.city-detail {
    margin-left: 16px;
}

.city-detail h3 {
    font-weight: bold;
    line-height: 20px;
}

.city-detail p {
    line-height: 20px;
}

@media only screen and (max-width: 1128px) {
    .cities .content {
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: flex-start;
    }

    .city {
        min-width: calc((100% - 16px * 2) / 3);
        margin-left: 16px;
    }

    .city:nth-child(1) {
        margin-left: 0;
    }
}

@media only screen and (max-width: 744px) {
    .city {
        min-width: calc((100% - 16px) * 2 / 3);
    }
}

/**********
points
**************************************************/
.points {
    margin: 66px auto;
}

.title h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 30px 0;
}

.points .content {
    justify-content: space-between;
}

a.point {
    width: calc((100% - 16px * 3) / 4);
    display: block;
}

.point-image img {
    width: 100%;
    border-radius: 10px;
}

.point-detail p {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}

@media only screen and (max-width: 1128px) {
    .points .content {
        overflow-x: scroll;
        justify-content: flex-start;
    }

    a.point {
        min-width: calc((100% - 16px * 2) / 3);
        margin-left: 16px;
    }

    a.point:nth-child(1) {
        margin-left: 0;
    }
}

@media only screen and (max-width: 744px) {
    a.point {
        min-width: calc((100% - 16px) * 2 / 3);
    }
}

/**********
worlds
**************************************************/
.worlds {
    width: 100%;
    margin: 0;
    background-color: black;
}

.worlds .title {
    margin: 0 auto;
}

.worlds .title h2 {
    color: var(--white);
}

.worlds .title p {
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.worlds .content {
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 160px);
    max-width: 1600px;
}

a.world {
    width: calc((100% - 16px * 2) / 3);
    display: block;
}

.world-image img {
    width: 100%;
    border-radius: 10px;
}

.world-detail {
    padding-top: 10px;
    padding-bottom: 66px;
}

.world-detail h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
}

.world-detail p {
    font-size: 14px;
    color: var(--white);
    margin-top: 10px;
}

@media only screen and (max-width: 1128px) {
    .worlds .content {
        width: calc(100% - 80px);
    }
}

@media only screen and (max-width: 744px) {
    .worlds .content {
        overflow-x: scroll;
        justify-content: flex-start;
    }

    a.world {
        min-width: calc((100% - 16px) * 2 / 3);
        margin-left: 16px;
    }

    a.world:nth-child(1) {
        margin-left: 0;
    }
}

/**********
hosts
**************************************************/
.hosts {
    margin: 30px auto 66px;
}

.hosts .content {
    justify-content: space-between;
}

a.host {
    width: calc((100% - 16px * 2) / 3);
    display: block;
}

.host-image img {
    width: 100%;
    border-radius: 10px;
}

.host-detail p {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}

@media only screen and (max-width: 744px) {
    .hosts .content {
        overflow-x: scroll;
        justify-content: flex-start;
    }

    a.host {
        min-width: calc((100% - 16px) * 2 / 3);
        margin-left: 16px;
    }

    a.host:nth-child(1) {
        margin-left: 0;
    }
}


/************************************************************
footer
************************************************************/
footer {
    background-color: #f7f7f7;
}

/**********
footer-part1
**************************************************/
.footer-part_1 {
    margin: 0 auto;
    padding: 50px 0 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddddddcc;
}

.list {
    width: calc((100% - 24px * 3) / 4);
}

.list h4 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

.list ul li {
    margin-bottom: 20px;
}

.list ul li:nth-last-child() {
    margin-bottom: 0;
}

.list ul li a {
    font-size: 14px;
}

.list ul li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1128px) {
    .footer-part_1 {
        display: block;
        border-bottom: none;
        padding-bottom: 0;
    }

    .list {
        width: 100%;
        border-bottom: 1px solid #ddddddcc;
        margin-bottom: 30px;
    }

    .list ul {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .list ul li {
        margin-right: 24px;
        width: calc((100% - 24px * 2) / 3);
    }

    .list ul li:nth-child(3n) {
        margin-right: 0;
    }
}

@media only screen and (max-width: 744px) {
    .list ul {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .list ul li {
        margin-right: 0;
        width: 100%;
    }
}

/**********
footer-part2
**************************************************/
.footer-part_2 {
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.left-part a:hover {
    text-decoration: underline;
}

.left-part a p {
    font-size: 14px;
    line-height: 24px;
}

small {
    display: flex;
    font-size: 14px;
    line-height: 24px;
}

.right-part {
    display: flex;
    align-items: flex-start;
}

.right-part a:hover {
    opacity: 0.8;
}

.language {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.language a {
    text-decoration: underline;
}

.language a p {
    font-size: 14px;
    font-weight: bold;
    margin-left: 6px;
}

.currency {
    margin-right: 45px;
}

.currency span {
    font-size: 14px;
}

.currency a {
    margin-left: 6px;
    font-weight: bold;
    text-decoration: underline;
}

.SNS ul {
    display: flex;
}

.SNS ul li {
    margin-right: 24px;
}

.SNS ul li:nth-child(3) {
    margin-right: 0;
}

@media only screen and (max-width: 1128px) {
    .footer-part_2 {
        padding-top: 0;
        flex-direction: column-reverse;
        align-items: center;
    }

    .left-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-part>a {
        display: flex;
        align-items: center;
    }

    .left-part>a p {
        margin: 0 2px;
        line-height: 20px;
    }

    small {
        flex-direction: column;
        align-items: center;
        line-height: 20px;
    }

    small>span {
        display: none;
    }

    .right-part {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 744px) {
    .footer-part_2 {
        align-items: flex-start;
    }

    .left-part {
        align-items: flex-start;
    }

    .left-part>a {
        flex-direction: column;
        align-items: flex-start;
    }

    small {
        align-items: flex-start;
    }

    .SNS {
        display: none;
    }
}